.container{
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     gap: 30px;
     justify-content: center;
     align-items: center;
     margin-top: 50px;
     margin-bottom: 50px;
}
.card{
      width:290px;
      height: 200px;
      border: 1px solid black;
      background-color: #92fdfdc1 !important;
      
}
.card-body{
      line-height: 32px;
      font-family:sans-serif;
}